.navbar {
    height: 55px;
    text-align: center;
}
.title {
    font-size: 18px;
    line-height: 55px;
    color: #fff;
}

.my-container, .detail-container {
    overflow: auto;
}

.my-container thead {
    background-color:#f0f0f0;
}

.my-container article {
    border:1px solid #ddd;
    margin: 30px;
    border-radius: 5px;
}

#table tr {
    cursor: pointer;
}

#caption {
    font-weight: bold;
    font-size: 16px;
}

.detail-container article {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
}
#page {
    margin: 20px 20px 0;
    float: right;
}

/*侧边导航*/
.Hui-aside{background-color:#333;border-right: 1px solid #222}/*侧边栏*/
.Hui-aside .menu_dropdown ul li a {color:#fff;border-bottom:1px solid #222}
.Hui-aside .menu_dropdown ul li a:hover{color:#fff;background-color:#777}
.Hui-aside .menu_dropdown ul li.current a,
.Hui-aside .menu_dropdown ul li.current a:hover{ color:#fff;background:#777}
.Hui-aside .menu_dropdown dl > dt {color:#fff;border-bottom: 1px solid #222;font-weight:normal}